.DS_Store
.idea
.next
.open-next
.turbo
.wrangler
coverage
dist
node_modules

.env
.env.local
.env.*.local
apps/web/.dev.vars
supabase/.temp/
apps/web/tsconfig.tsbuildinfo
supabase/.branches/_current_branch
